@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

body {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-ibmPlexSans);
  box-sizing: border-box;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1440px] lg:mx-auto px-4 md:px-10 w-full;
  }

  .linear-gradient {
    @apply bg-gradient-to-r from-orange from-0% via-red via-[52%] to-purple to-100%
  }
  
  .heading-1 {
    @apply font-bold text-[90px] leading-[90px];
  }

  .heading-2 {
    @apply font-bold text-5xl leading-[56px];
  }

  .heading-3 {
    @apply font-bold text-[40px] leading-[48px];
  }

  .heading-4 {
    @apply font-bold text-[32px] leading-10;
  }

  .heading-5 {
    @apply font-bold text-3xl;
  }

  .heading-6 {
    @apply font-bold text-2xl leading-[32px];
  }

  .text-1 {
    @apply font-normal text-lg leading-5
  }

  .text-2 {
    @apply font-semibold text-lg leading-normal
  }
}