@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-ibmPlexSans);
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer utilities {
  .wrapper {
    @apply max-w-[1440px] lg:mx-auto px-4 md:px-10 w-full;
  }

  .linear-gradient {
    @apply bg-gradient-to-r from-orange from-0% via-red via-[52%] to-purple to-100%
  }

  .heading-1 {
    @apply font-bold text-[90px] leading-[90px];
  }

  .heading-2 {
    @apply font-bold text-5xl leading-[56px];
  }

  .heading-3 {
    @apply font-bold text-[40px] leading-[48px];
  }

  .heading-4 {
    @apply font-bold text-[32px] leading-10;
  }
  
  .heading-5 {
    @apply font-bold text-3xl;
  }


  .heading-6 {
    @apply font-bold text-2xl leading-[32px];
  }

  .text-1 {
    @apply font-normal text-lg leading-5
  }

  .text-2 {
    @apply font-semibold text-lg leading-normal
  }
}